In [1]:
"내 이름은 %s입니다." % "홍길동"

'내 이름은 홍길동입니다.'

In [2]:
"나는 %d살 입니다." %12

'나는 12살 입니다.'

In [3]:
"원주율의 값은 %f입니다." % 3.141592

'원주율의 값은 3.141592입니다.'

In [4]:
"%d 곱하기 %d은 %d이다." %(2,3,6)

'2 곱하기 3은 6이다.'

In [5]:
"%s의 %s 과목 점수는 %d점이다." %("철수","수학",100)

'철수의 수학 과목 점수는 100점이다.'

In [7]:
"Tom is %d years old" %13

'Tom is 13 years old'

In [12]:
"%d / %d =%.3f" %(10,3,10/3)

'10 / 3 =3.333'

In [13]:
"[%20s]" % "*"

'[                   *]'

In [14]:
"[%-20s]" % "A"

'[A                   ]'

In [15]:
"[%20d]" %123

'[                 123]'

In [16]:
"[%-20d]" % 123

'[123                 ]'

In [19]:
x=1/3.0

In [20]:
"%.5f" %x

'0.33333'

In [21]:
"[%-20.6f]" %x

'[0.333333            ]'

In [23]:
"내 이름은 {}입니다.".format("홍길동")

'내 이름은 홍길동입니다.'

In [24]:
"{2}의 {0} 점수는 {1}점입니다. {1}점! {1}점!".format("수학",100,"철수")

'철수의 수학 점수는 100점입니다. 100점! 100점!'

In [25]:
"[{:<20}]".format("*")

'[*                   ]'

In [26]:
"[{:>20}]".format(20)

'[                  20]'

In [27]:
"[{:20.5f}]".format(1 / 3)

'[             0.33333]'

In [28]:
"[{:20,}]".format(1234567890)

'[       1,234,567,890]'

In [29]:
a=3
b=12
a*b

36

In [33]:
a=123456
b=7890
"{:6,}".format(a+b)

'131,346'